.tabs{
  margin: 0 0 50px 0;

  &__items{
    display: flex;

    &__item{
      flex: 0 1 33.333%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: $white;
      text-decoration: none;

      span{
        position: relative;
        z-index: 2;

        @media (max-width: 600px) {
          display: block;
          width: 100px;
          white-space: nowrap;
          text-align: center;
          overflow: hidden;
          @include font-size(14px);
          text-overflow: ellipsis;
        }
      }
    }
  }

  &__block{
    padding: 20px;
    @include font-size(17px);
    @include line-height(26px);
    display: none;
    position: relative;

    &:before{
      content: '';
      @include box(33.333%,50px);
      @include abs-position(-50px,auto,auto,auto);
    }

    &:nth-child(1){
      background-color: #EC8F97;
    }
    &:nth-child(1):before{
      background-color: #EC8F97;
      left: 0;
    }
    &:nth-child(2){
      background-color: #927DAE;
    }
    &:nth-child(2):before{
      background-color: #927DAE;
      left: 33.333%;
    }
    &:nth-child(3){
      background-color: #99BE79;
    }
    &:nth-child(3):before{
      background-color: #99BE79;
      right: 0;
    }

    &:target{
      display: block;
    }
  }
}