<form action="#" class="form">
    <div class="form__title">
        Стили элементов форм
    </div>
    <div class="form__input">
        <div class="checkbox">
            Выключатель №1
            <input type="checkbox" name="checkbox_1" checked>
        </div>
    </div>
    <div class="form__input">
        <div class="checkbox">
            Выключатель №2
            <input type="checkbox" name="checkbox_2">
        </div>
    </div>
    <div class="form__input">
        <div class="radiobuttons">
            <div class="radiobuttons__item">
                Вариант №1
                <input type="radio" name="radio" value="1" checked>
            </div>
            <div class="radiobuttons__item">
                Вариант №2
                <input type="radio" name="radio" value="2">
            </div>
            <div class="radiobuttons__item">
                Вариант №3
                <input type="radio" name="radio" value="3">
            </div>
        </div>
    </div>
    <button class="button" type="submit"><span>Отправить форму</span></button>
</form>