<div class="sliderbig">
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3989816/pexels-photo-3989816.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3433633/pexels-photo-3433633.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3341027/pexels-photo-3341027.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3055008/pexels-photo-3055008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3273851/pexels-photo-3273851.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item filter">
        <img src="https://images.pexels.com/photos/3989816/pexels-photo-3989816.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3433633/pexels-photo-3433633.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item filter">
        <img src="https://images.pexels.com/photos/3341027/pexels-photo-3341027.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item">
        <img src="https://images.pexels.com/photos/3055008/pexels-photo-3055008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="sliderbig__item filter">
        <img src="https://images.pexels.com/photos/3273851/pexels-photo-3273851.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
</div>
<div class="slider">
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3989816/pexels-photo-3989816.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3433633/pexels-photo-3433633.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3341027/pexels-photo-3341027.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3055008/pexels-photo-3055008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3273851/pexels-photo-3273851.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item filter">
        <img src="https://images.pexels.com/photos/3989816/pexels-photo-3989816.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3433633/pexels-photo-3433633.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item filter">
        <img src="https://images.pexels.com/photos/3341027/pexels-photo-3341027.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item">
        <img src="https://images.pexels.com/photos/3055008/pexels-photo-3055008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
    <div class="slider__item filter">
        <img src="https://images.pexels.com/photos/3273851/pexels-photo-3273851.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
    </div>
</div>
<a href="" class="link_add" style="color: white">Добавить</a>
<a href="" class="link_remove"  style="color: white">Удалить</a>
<div class="link_filter">фильтровать</div>