<div class="spoiler spoiler-one">
    <div class="spoiler__item">
        <div class="spoiler__title">
            Роальд Даль
        </div>
        <div class="spoiler__text">
            Тот, кто не верит в чудеса, никогда его и не получит
        </div>
    </div>
    <div class="spoiler__item">
        <div class="spoiler__title">
            Сенека
        </div>
        <div class="spoiler__text">
            Жизнь вещь грубая. Ты вышел в долгий путь, – значит, где-то и поскользнешься, и получишь пинок, и упадешь, и устанешь, и воскликнешь «умереть бы!», и стало быть, солжешь
        </div>
    </div>
    <div class="spoiler__item">
        <div class="spoiler__title">
            Артур Шопенгауэр
        </div>
        <div class="spoiler__text">
            С точки зрения молодости жизнь есть бесконечное будущее; с точки зрения старости очень короткое прошлое
        </div>
    </div>
</div>