<div class="content">
    <div class="tabs">
        <nav class="tabs__items">
            <a href="#tab_01" class="tabs__items__item"><span>дорогу</span></a>
            <a href="#tab_02" class="tabs__items__item"><span>осилит</span></a>
            <a href="#tab_03" class="tabs__items__item"><span>идущий</span></a>
        </nav>
        <div class="tabs__body">
            <div id="tab_01" class="tabs__block">
                <p>Сталкиваясь с какой-то жизненной неудачей, человек задается вопросом, а можно ли этого было
                    избежать? Что нами движет по жизни, наши желания, или есть какая-то предопределенность жизненного
                    плана? Как правило в своих каких-то жизненных неурядицах мы склонны винить судьбу. Успехи и какие-то достижения мы склонны приписывать собственным стараниям. Но не будь каких-то ошибок, то как бы мы узнали свое направление по жизни?</p>
                <p>И можно ли узнать наперед все ступени своего восхождения и прохождения жизненных узлов? Кто сможет в этом помочь, кто даст точный ответ? И есть ли такой ответ, если учесть, что у нас множество вариантов проживания одной и той же ситуации?</p>
                <p>Мало кто задумывается над тем, что жизненный путь человека — это не только работа, ее наличие или отсутствие. Это и отношения, и мировоззрение. Это умение радоваться и грустить. Умение просто ЖИТЬ!</p>
            </div>
            <div id="tab_02" class="tabs__block">
                <p><strong>Жизнь человека состоит из череды выборов. Каждый выбор определяет изменение вектора жизненного пути. Совершая выбор, человек определяет свой дальнейший путь.</strong></p>
                <p>Какое-то решение может отразиться на этом пути почти мгновенно; какой-то выбор повлияет на человека с течением времени; какие-то решения влияют на путь сильнее, какие-то почти незаметно.</p>
                <p>Однако в совокупности все они и формируют то, что мы привыкли называть судьбой.</p>
                <p>Концепция моего мировоззрения основывается на философии того, что изначально у каждого человека существует лучшая версия его самого и перед воплощением душа изначально планирует несколько вариантов жизненного пути, в зависимости от определенных ситуаций.</p>
                <p>И в них есть тот вариант, при котором она сможет раскрыть свой потенциал максимально. То, насколько потенциал человека будет раскрыть в данном воплощении зависит от того, какие выборы в течении жизни он делает.</p>
            </div>
            <div id="tab_03" class="tabs__block">
                <p>О том, предрешен ли наш жизненный путь или все же, сам человек является творцом своей жизни можно долго спорить. Хотя, оба эти взгляда, на мой взгляд, верны. Все зависит от того, как посмотреть.</p>
                <p>Для того, кто делает выбор неосознанно, автоматически, жизнь и правда имеет несколько предрешенный характер. Ведь по обыкновению человек выбирает тот путь, по которому он привык ходить. В этом случае возможность выбора просто остается незамеченной.</p>
                <p>Направляя человека по знакомому маршруту, мозг может позволить себе отключиться, не работать, не тратить лишнюю энергию на обработку новой информации. И потому, знакомый маршрут для ума предпочтительнее.</p>
                <p>Тот, кто привык агрессией реагировать на агрессию, в очередной подобной ситуации первым делом почувствует, конечно же, импульс отреагировать привычно. Поддаться на этот импульс &ndash; значит снова отказаться от возможности выбирать, и вновь пойти по протоптанной дорожке.</p>
                <p>На этот счет было когда-то сказано: <strong>глупо надеяться на разные результаты, совершая
                    одинаковые действия.</strong></p>
            </div>
        </div>
    </div>
    <div class="text">
        <p>Составляющая для счастливой жизни у многих людей — это хорошее здоровье, любящая семья, и, конечно же, успехи в работе, в деле, которое приносит удовлетворение и понимание своей востребованности.</p>
    </div>
</div>